<div class="container-fluid">
    <div class="row">
        <div class="col m1 s1 l1 collection" style=" border: none;">
            <div ng-repeat="questionObj in questions track by $index" style="border: 1px solid #e0e0e0;
    border-radius: 2px; text-align: center;">
                <a ng-click="getQuestion(questionObj.questionId);" class="collection-item">{{$index + 1}}</a>
            </div>
        </div>
        <div class="col m9 s9 l9 collection">
            <div class="row">
                <p>{{currentQuestion.description}}</p>
            </div>
            <div class="row">
                <div ui-ace="{
                require: ['ace/ext/language_tools'],
                  advanced: {
                      enableSnippets: true,
                      enableBasicAutocompletion: true,
                      enableLiveAutocompletion: true
                  },
                   useWrapMode : true,
                      showGutter: true,
                      theme:'tomorrow',
                  mode: 'java',
                  onLoad: aceLoaded,
                  onChange: aceChanged
                }" ng-model="currentQuestion.solution" class="textarea">
                </div>
            </div>
        </div>
        <div class="col m2 s2 l2 collection">
            <div class="collection-item">
                <h5>00:00:00</h5>
            </div>
            <div class="collection-item ">
                <a class="waves-effect waves-light btn green exam-control-btns" ng-click="nextQuestion()"><i class="material-icons left fa fa-step-forward " ></i>Next</a>
            </div>
            <div class="collection-item ">
                <a class="waves-effect waves-light btn green exam-control-btns"><i class="material-icons left fa fa-gear "></i>Run</a>
            </div>
            <div class="collection-item ">
                <a class="waves-effect waves-light btn green exam-control-btns"><i class="material-icons left fa fa-refresh "></i>Reset</a>
            </div>
            <div class="collection-item ">
                <a class="waves-effect waves-light btn blue exam-control-btns"><i class="material-icons left fa fa-floppy-o "></i>Submit</a>
            </div>
        </div>
    </div>
</div>