<div class="container-fluid">
    <div class="row">
        <div class="col m1 s1 l1 collection" style=" border: none;">
            <div ng-repeat="questionObj in questions track by $index" style="border: 1px solid #e0e0e0;
    border-radius: 2px; text-align: center;">
                <a ng-click="getQuestion(questionObj.questionId);" class="collection-item" ng-style="(currentQuestionIndex==$index) && {'background-color': '#ddd'}">{{$index + 1}}</a>
            </div>
        </div>
        <div class="col m9 s9 l9 collection">
            <div class="row">
                <div ng-bind-html="currentQuestion.description"></div>
            </div>
            <div class="row">
                <a class="waves-effect waves-light btn green pull-right" style="width:150px" ng-click="compileCode();"><i class="material-icons left fa fa-gear "></i>Run</a>
                <a class="waves-effect waves-light btn green pull-right" style="width:150px;margin-right:10px" ng-click="setSolutionTemplate();"><i class="material-icons left fa fa-refresh "></i>Reset</a>
            </div>
            <div class="row">
                <div ui-ace="{
                require: ['ace/ext/language_tools'],
                  advanced: {
                      enableSnippets: true,
                      enableBasicAutocompletion: true,
                      enableLiveAutocompletion: true
                  },
                   useWrapMode : true,
                      showGutter: true,
                      theme:'tomorrow',
                  mode: 'java',
                  onLoad: aceLoaded,
                  onChange: aceChanged
                }" ng-model="currentQuestion.solution" class="textarea">
                </div>
                <p style="background-color:red;color:#ffffff">
                    {{currentQuestion.compiledOutput.stderr}} {{currentQuestion.compiledOutput.cmpinfo}}
                </p>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="textarea1" class="materialize-textarea" ng-model="currentQuestion.input"></textarea>
                    <label for="textarea1">Input</label>
                </div>
            </div>
        </div>
        <div class="col m2 s2 l2 collection">
            <div class="collection-item">
                <h5><timer interval="1000" end-time="examDuration" finish-callback="submitApplicantData()">{{hours}}: {{minutes}}: {{seconds}}</timer></h5>
            </div>
            <div class="collection-item ">
                <a class="waves-effect waves-light btn green exam-control-btns" ng-click="getQuestion(questions[currentQuestionIndex-1].questionId)" ng-disabled="currentQuestionIndex==0"><i class="material-icons left fa fa-step-backward " ></i>Previous</a>
            </div>
            <div class="collection-item ">
                <a class="waves-effect waves-light btn green exam-control-btns" ng-click="getQuestion(questions[currentQuestionIndex+1].questionId)" ng-disabled="currentQuestionIndex>=questions.length-1"><i class="material-icons left fa fa-step-forward " ></i>Next</a>
            </div>
            <div class="collection-item ">
                <a class="waves-effect waves-light btn blue exam-control-btns" ng-click="submitApplicantData()"><i class="material-icons left fa fa-floppy-o "></i>Submit</a>
            </div>
        </div>
    </div>
</div>
